.categories {
  margin-top: 3.8rem;
}

.categories__c {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.categories__list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.categories__item {
  border-radius: 16px;
  border: 1px solid rgba(18, 18, 18, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 17.3rem;
  width: 17.3rem;
}

.categories__item .txt-sans20_bold {
  text-align: center;
}

.categories__item img {
  width: 12.8rem;
  height: 8.4rem;
}

@media (max-width: 48rem) {
  .categories {
    margin-top: 4rem;
  }

  .categories__c {
    gap: 4rem;
  }

  .categories__list {
    row-gap: 2rem;
    column-gap: 0;
    justify-content: space-between;
  }

  .categories__item {
    height: 32rem;
    width: 32rem;
    padding: 4rem 3.2rem;
  }

  .categories__item img {
    width: 25.6rem;
    height: 16.8rem;
  }
}
