.promo {
  width: 100%;
  margin-top: 3.7rem;
}

.promo__c {
  width: 100%;
  height: 78.9rem;
  background-image: url(../../images/back-promo.png);
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  padding: 4.6rem 2.1rem 2.3rem;
  display: flex;
  flex-direction: column;
}

.promo__c-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.promo__c-title {
  align-items: center;
}

.promo__c-subtitle {
  max-width: 61.9rem;
}

.promo__c-subtitle .txt-sans20 {
  text-align: center;
}

.promo__c-info {
  display: flex;
  gap: 4rem;
  margin: auto 0rem 5.7rem auto;
}

.promo__c-info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

.promo__c-info-item p {
  color: white;
}

.promo__c-btm {
  border-radius: 16px;
  border: 1px solid #fff;
  background: linear-gradient(
      7deg,
      rgba(255, 255, 255, 0) 5.23%,
      rgba(255, 255, 255, 0.6) 76.35%
    ),
    rgba(255, 255, 255, 0.5);

  padding: 2.8rem;
}

.promo__c-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.promo__c-options-top {
  display: flex;
  gap: 3rem;
}

.promo__c-options-top .txt-sans20 {
  color: #727272;
}

.promo__c-options-top .txt-sans20.active {
  color: #131b37;
}

.promo__c-options-line {
  background-color: rgba(0, 0, 0, 0.2);
  width: 0.2rem;
  height: 4.5rem;
}

.promo__c-options-btm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__c-option-box {
  width: 28.5rem;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #eef1f4;
  border-radius: 16px;
  position: relative;
}

.promo__c-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eef1f4;
  height: 5.4rem;
  width: 100%;
}

.promo__c-option .txt-sans16 {
  color: #131b37;
}

.promo__c-option-icon img {
  width: 2rem;
  height: 2rem;
}

.promo__c-filter {
  position: absolute;
  margin-top: 6rem;
  border-radius: 16px;
  padding: 2rem;
  width: 100%;
  left: 0;
  background-color: #eef1f4;
  z-index: 10;
}

.promo__c-filter-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-height: 19rem;
  overflow: scroll;
  scrollbar-width: none;
}

.promo__c-filter-box::-webkit-scrollbar {
  display: none;
}

.promo__c-option-icon.open img {
  transform: rotate(180deg);
}

.promo__c-search {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  height: 5.6rem;
  padding: 0rem 0.8rem 0rem 2.4rem;
  background-color: #1a5fbc;
  border-radius: 100px;
}

.promo__c-search-icon {
  background-color: white;
  border-radius: 100px;
  padding: 1rem 2rem;
}

.promo__c-search-icon img {
  width: 2rem;
  height: 2rem;
}

.promo__c-search .txt-sans16 {
  text-transform: uppercase;
  color: white;
}

@media (max-width: 48rem) {
  .promo {
    margin-top: 7.2rem;
  }

  .promo__c {
    background-image: none;
    height: auto;
    border-radius: 3.2rem;
    padding: 0rem;
  }

  .promo__c-top {
    gap: 2.4rem;
  }

  .promo__c-info {
    background-image: url(../../images/back-promo.png);
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    height: 36.2rem;
    margin: 2rem 0rem 6rem 0rem;
    padding: 2.4rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0;
  }

  .promo__c-info-item {
    gap: 0rem;
  }

  .promo__c-info-item p {
    line-height: normal;
    text-align: center;
    width: max-content;
  }

  .promo__c-btm {
    border-radius: 20px;
    background: #e2e2e2;
    border: 0px;
    padding: 2.4rem 2rem;
  }

  .promo__c-options {
    gap: 5.2rem;
  }

  .promo__c-options-top {
    gap: 0rem;
    justify-content: space-between;
    width: 100%;
  }

  .promo__c-options-line {
    height: 3rem;
    width: 0.2rem;
  }

  .promo__c-options-btm {
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: start;
  }

  .promo__c-option-box {
    border-radius: 100px;
    width: 100%;
    padding: 0rem 2.4rem 0rem 2rem;
  }

  .promo__c-option {
    height: 6rem;
    gap: 1rem;
  }

  .promo__c-option-icon img {
    width: 2.2rem;
    height: 1.4rem;
  }

  .promo__c-filter {
    margin-top: 7rem;
    padding: 2rem;
  }

  .promo__c-filter-box {
    max-height: 19rem;
  }

  .promo__c-search {
    height: 6rem;
    padding: 0rem 1rem 0rem 2rem;
    gap: 1rem;
  }

  .promo__c-search-icon {
    padding: 1.2rem 2.6rem;
  }

  .promo__c-search-icon img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
