.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* gap: 2.7rem; */
  justify-content: space-between;
  padding: 1rem 0.7rem 1rem 1rem;
  width: 35.5rem;

  height: 46.8rem;
  border: 1px solid #d8e0e9;
  border-radius: 16px;
}

.product-card__top {
  background-color: #f7fafd;
  border-radius: 16px;
}

.product-card__top img {
  height: 22.2rem;
  border-radius: 16px;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card__info-name .txt-sans18_bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__info-number {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.product-card__info-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__info-btn {
  background-color: #eef1f4;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  z-index: 20;
}

.product-card__info-btn img {
  width: 2.4rem;
  height: 2.4rem;
}

.product-card__info .txt-sans16 {
  color: #b8b8b8;
}

.product-card__info-number .txt-sans16,
.product-card__info-number .txt-sans18 {
  color: #696e76;
}

.product-card__info-price .txt-sans24 {
  color: #1a5fbc;
}

@media (max-width: 48rem) {
  .product-card {
    padding: 2rem 1.5rem;
    gap: 1.2rem;
    width: 32.2rem;
    height: 48rem;
  }

  .product-card__top img {
    height: 17rem;
    width: 100%;
  }

  .product-card__info {
    gap: 2rem;
  }

  .product-card__info-number {
    gap: 0.8rem;
  }

  .product-card__info-btn {
    padding: 0.8rem 2rem;
  }

  .product-card__info-btn img {
    width: 2rem;
    height: 2rem;
  }
}
