.txt-sank16 {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.txt-sans20 {
  font-family: "Sansation", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
    line-height: 140%;
  }
}

.txt-sans20_bold {
  font-family: "Sansation", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
  }
}

.txt-sans64 {
  font-family: "Sansation", sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 4rem;
  }
}

.txt-rubik16 {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
  }
}

.txt-sans42_bold {
  font-family: "Sansation", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
  }
}

.txt-sans16 {
  font-family: "Sansation", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
  }
}

.txt-sans16_bold {
  font-family: "Sansation", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.2rem;
  }
}

.txt-sans60 {
  font-family: "Sansation", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 3.6rem;
  }
}

.txt-sans30_bold {
  font-family: "Sansation", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.6rem;
  }
}

.txt-sans18_bold {
  font-size: 1.8rem;
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
  }
}

.txt-sans18 {
  font-family: "Sansation", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.4rem;
    line-height: 110.336%;
  }
}

.txt-sans24 {
  font-family: "Sansation", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.6rem;
  }
}

.txt-sans42 {
  font-family: "Sansation", sans-serif;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 3.2rem;
  }
}

.txt-sans32 {
  font-family: "Sansation", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 3.2rem;
  }
}

.txt-sans14 {
  font-family: "Sansation", sans-serif;
  font-size: 1.4rem;

  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.6rem;
  }
}
.txt-sans48 {
  font-family: "Sansation", sans-serif;
  font-size: 4.8rem;

  font-weight: 400;
  line-height: normal;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
  }
}
