.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #131b37;
}

/* .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
} */
