.filter-drop {
  display: flex;
  /* flex-direction: column;
    gap: 1rem; */
  position: relative;
  width: max-content;

  @media (max-width: 48rem) {
  }
}

.filter-drop__opt {
  height: 6rem;
  justify-content: space-between;
  min-width: 23.7rem;
  width: max-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-radius: 100px;
  border: 1px solid #121212;
  @media (max-width: 48rem) {
    height: 6rem;
    min-width: 33.6rem;
    gap: 0.6rem;
  }
}

.filter-drop .txt-sans16 {
  text-transform: uppercase;
}

.filter-drop__opt-icon img {
  width: 2rem;
  height: 2rem;
  @media (max-width: 48rem) {
    width: 4rem;
    height: 4rem;
  }
}

.filter-drop__filter {
  border-radius: 1.6rem;
  border: 1px solid #121212;
  padding: 2rem;
  left: 0;
  top: 7rem;
  background-color: white;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  @media (max-width: 48rem) {
    padding: 1.6rem 2.1rem;
    top: 7rem;
  }
}

.filter-drop__opt-icon.open img {
  transform: rotate(180deg);
}

.filter-drop__filter-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
