.nav-menu {
  margin-top: 2.4rem;
  width: 100%;
}

.nav-menu__c {
  display: flex;
  gap: 0.6rem;
}

.nav-menu__c .txt-sans14 {
  color: #b8b8b8;
}

.nav-menu__c .txt-sans14.active {
  color: #121212;
}

@media (max-width: 48rem) {
  .nav-menu {
    margin-top: 7.2rem;
  }

  .nav-menu__c {
    flex-wrap: wrap;
    gap: 1.2rem;
  }
}
