.popular {
  margin-top: 18rem;
  max-width: 192rem;
  width: 100%;
  position: relative;
}

.popular__c {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.popular__c-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-swiper {
  height: 46.8rem;
}

.popular-swiper__c {
  position: absolute;
  width: calc(100% - 10rem);
}

@media (max-width: 48rem) {
  .popular {
    margin-top: 10rem;
  }

  .popular__c {
    gap: 4rem;
  }

  .popular-swiper {
    height: 54rem;
  }

  .popular-swiper__c {
    width: calc(100% - 4.4rem);
  }
}
